{% extends 'default/index.html.twig' %}

{% block body %}
	<div id="out-tree">
		<h3>{{ "List" }}</h3>
		<br><br>
		<table class="table table-hover">
			<thead>
				<tr>
				  <th scope="col">#</th>
				  <th scope="col">Full name</th>
				  <th scope="col">Position</th>
				  <th scope="col">Salary</th>
				  <th scope="col">Head</th>
				  <th scope="col">Recruiting date</th>
				</tr>
			</thead>
			<tbody>
				{% for employee in employees_list %}
					{% set position_level = employee.positionId.level %}
					{% if position_level == 1 %}
						{% set color_phrase = 'table-dark' %}
					{% elseif position_level == 2 %}                    
						{% set color_phrase = 'table-primary' %}
					{% elseif position_level == 3 %}
						{% set color_phrase = 'table-danger' %}                    
					{% elseif position_level == 4 %}
						{% set color_phrase = 'table-success' %}
					{% elseif position_level == 5 %}
						{% set color_phrase = 'table-warning' %}
					{% endif %}

					<tr>
						<td class="{{color_phrase ?? ''}}">{{ employee.id }}</td>
						<td class="{{color_phrase ?? ''}}">{{ employee.fullName }}</td>
						<td class="{{color_phrase ?? ''}}">{{ employee.positionId.name }}</td>
						<td class="{{color_phrase ?? ''}}">{{ employee.salary }}</td>
						<td class="{{color_phrase ?? ''}}">{{ employee.parentId.fullName ?? 'I`m the director' }}</td>
						<td class="{{color_phrase ?? ''}}">{{ employee.recruitingDate|date("m-d-Y") }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}